fastapi
uvicorn[standard]
gunicorn
sqlalchemy
psycopg2-binary
pydantic[email]
python-jose[cryptography]
passlib[bcrypt]
python-multipart
httpx
anthropic
stripe
python-dotenv
pandas
aiosmtplib
emails

bcrypt==4.0.1
google-auth
